.txt-container{
    background-color: #59948f;
    color: white;
    padding: 300px 100px 0px 100px;
}

.text1-grp4{
    font-size: 80px;
    font-weight: 750;
}

.text2-grp4{
    font-size: 30px;
    font-weight: 300;
}

.btn-grp4{
    color: #59948f;
    font-size: 23px;
    font-weight:800;
    border: 0;
    border-radius: 5px;
    padding: 15px 100px;
    letter-spacing: 1.2px;
}
 