.header-container {
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  background-color: #e2ede8;
  position: relative;
}

.logo-container {
  position: absolute;
  background-color: #a7d7c5;
  padding: 15px 10px;
}

.logo {
  height: 60px;
}

.list-container {
  margin-left: auto;
}

.list-items {
  list-style: none;
  display: flex;
  font-weight: bold;
  color: #4f504f;
  padding-top: 12px;
}

.list-items li {
  margin-right: 80px;
}
